{% from "partials/icon.njk" import icon %}

<header class="site-head">
    <div class="container">
        <div class="site-mast">
                <div class="site-mast-left">
                    <a href="https://behang.nl">
                        <img src="https://www.behang.nl/img/behang-logo-1569403155.jpg" />
                    </a>
                </div>
            <div class="site-mast-right">
                {% for item in site.navigation %}
                <a {% if page.url == item.url %}aria-current="page"{% endif %} class="site-nav-item" href="{{ item.url }}">
                    {{ item.label }}
                </a>
            {% endfor %}
            </div>
        </div> 
    </div>
    
     
</header>
<div class="background-header-image"></div>
{% if page.url == '/' %}
            <div class="site-banner">
                <h1 class="site-banner-title">{{ site.title }}</h1>
                <p class="site-banner-desc">{{ site.description }}</p>
            </div>
        {% endif %}
