{% if pagination.previousPageHref or pagination.nextPageHref %}
    <nav class="pagination" role="pagination">
        {% if page.permalink != pagination.previousPageHref %}
            <a href="{{ pagination.previousPageHref }}">Vorige pagina</a>
        {% else %}
            <span>Vorige pagina</span>
        {% endif %}
        {% if page.permalink != pagination.nextPageHref %}
            <a href="{{ pagination.nextPageHref }}">Volgende pagina</a>
        {% else %}
            <span>Volgende pagina</span>
        {% endif %}
    </nav>
{% endif %}
